name: ant-ci
on: 
  workflow_dispatch:
  push:
    branches:
      - main
      - master
jobs:

  setup-java-ant-env:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code to repo
        uses: actions/checkout@v3

      - name: Setup JDK1.8 Corretto  
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '8'

      - name: Build ANT Project
        id: build
        run: |
          ant -noinput -buildfile build.xml
        shell: bash
      
      - name: Check GITHUB_WORKSPACE Folder for build output
        id: lookupforjar
        if: steps.build.conclusion == 'success' 
        run: |
          ls -la $GITHUB_WORKSPACE | grep .jar
        shell: bash

      - name: Upload artifact
        if: ${{ steps.build.conclusion == 'success' }}
        uses: actions/upload-artifact@v3
        with:
          name: Package
          path: build/jar

      - name: Print console message on failure
        if: ${{ steps.lookupforjar.conclusion == 'failure' }}
        run: |
          echo "Build failed"
        shell: bash
